.mt-mid {
  margin-top: var(--default-margin);
}

.mr-mid {
  margin-right: var(--default-margin);
}

.mb-mid {
  margin-bottom: var(--default-margin);
}

.ml-mid {
  margin-left: var(--default-margin);
}

.m-mid {
  margin: var(--default-margin);
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.button-group button:not(:first-child) {
  margin-left: var(--default-margin);
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}
